.header-container {
  background-color: yellowgreen;
  padding: 15px;
  width: 100%;
  margin-bottom: 20px;
}

.nav-list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.nav-item {
  margin: 0;
  margin-right: 38px;
}

.nav-link {
  text-decoration: none;
  color: #fff; /* Blanc */
  font-weight: bold;
  font-size: 16px;
  transition: color 0.3s;
}

.nav-link:hover {
  color: #ecf0f1; /* Gris clair */
}

.nav-link:focus {
  transform: scale(0.95); /* Réduire la taille du bouton */
}